<%# Botanical side decorations — watercolor olive branch photos %>
<div class="botanical-left" aria-hidden="true">
  <img src="/images/botanical-olive-branch.jpg" class="botanical-img botanical-img--left" alt="">
</div>
<div class="botanical-right" aria-hidden="true">
  <img src="/images/botanical-olive-branch.jpg" class="botanical-img botanical-img--right" alt="">
</div>
